.teams-container {
  padding: 30px;
}

.center-title {
  text-align: center;
  margin-bottom: 20px;
}

.create-btn {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-box {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box input {
  padding: 8px;
}

.form-box button {
  padding: 8px;
  cursor: pointer;
}

.details-box {
  width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-member {
  background-color: orange;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.submit-btn {
  background-color: green;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
.member-box {
  margin-top: 25px;
  padding: 20px;
  background-color: #f4f6f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
