.teams-container {
  padding: 40px;
  text-align: center;
}

.team-box-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.team-box {
  background-color: #4f46e5;
  color: white;
  padding: 30px 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  min-width: 180px;
}

.team-box:hover {
  background-color: #3730a3;
  transform: translateY(-5px);
}

.teams-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 50px;
}

.teams-description {
  font-size: 16px;
  color:black;
}
